/* For .toolBarItems */
.toolBarItems {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr 1fr;
  margin-bottom: 0.75rem;
}

.toolBarItems > :first-child {
  margin-left: 0;
}

.toolBarItems > * {
  margin-left: 0.5rem;
}

/* For .toolBarItem */
.toolBarItem {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 100%;
  transition: all 0.3s;
  background: #1f2229;
  border: 1px solid #292c33;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.toolBarItem.active {
  background: #060708;
}
