div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  min-height: 10rem;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.editorWrapper {
  background: #181a1f;
  width: 100%;
  border-radius: 16px;
  padding: 0.75rem 0.75rem 1rem 0.75rem;
}

.editorWrapper ol {
  list-style-type: decimal;
}

.editorWrapper ul {
  list-style-type: disc;
}

.editorWrapper ol,
.editorWrapper ul {
  margin-left: 1rem;
}

.editorContainer {
  width: 100%;
  border: 1px solid #292c33;
  border-radius: 16px;
  padding: 1rem;
}

.toolBarItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.75rem;
}

.toolBarItems > * {
  margin-left: 0.5rem;
}

.toolBarItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 100%;
  transition: all 0.3s;
  background: #1f2229;
  border: 1px solid #292c33;
  box-shadow:
          rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.toolBarItem span {
  top: -2px;
}

.toolBarItem.active {
  background: #060708;
}

.toolBarDropdownContent {
  position: absolute;
  top: 125%;
  border-radius: 20px;
  background: #060708;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.toolBarDropdownItem {
  padding: 0 1rem;
  background: #060708;
}

.toolBarDropdownItem:hover {
  background: #1f2229;
}
