:root {
  --min-height-editor: 10rem;
  --default-padding: 0.75rem;
  --border-radius: 16px;
  --dark-bg: #181a1f;
  --darker-bg: #060708;
  --border-color: #292c33;
  --tool-bar-size: 2.5rem;
  --transition-duration: 0.3s;
}

div.DraftEditor-editorContainer, div.public-DraftEditor-content {
  min-height: var(--min-height-editor);
}

.unisoft {
  width: 100%;
}

.unisoft .text-left, .unisoft .text-center, .unisoft .text-right {
  text-align: inherit;
}

.unisoft .text-left {
  text-align: left;
}

.unisoft .text-center {
  text-align: center;
}

.unisoft .text-right {
  text-align: right;
}

.unisoft ol, .unisoft ul {
  margin-left: 1rem;
  list-style-type: inherit;
}

.unisoft ol {
  list-style-type: decimal;
}

.unisoft ul {
  list-style-type: disc;
}

.editorWrapper, .editorContainer {
  width: 100%;
  background: var(--dark-bg);
  border-radius: var(--border-radius);
  padding: var(--default-padding) var(--default-padding) 1rem;
}

.editorContainer .public-DraftEditor-content {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.toolBarItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: var(--default-padding);
}

.toolBarItems > * {
  margin-left: 0.5rem;
}

.toolBarItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--tool-bar-size);
  height: var(--tool-bar-size);
  cursor: pointer;
  padding: var(--default-padding);
  border-radius: 100%;
  transition: all var(--transition-duration);
  background: #1f2229;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.toolBarItem span {
  top: -2px;
}

.toolBarItem.active, .toolBarDropdownItem:hover {
  background: var(--darker-bg);
}

.toolBarDropdownContent {
  position: absolute;
  top: 125%;
  border-radius: 20px;
  background: var(--darker-bg);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.toolBarDropdownItem {
  padding: 0 1rem;
}
